body{
	font-family: verdana;
	color: black;
	text-align: center;
	background-color: #0000ff;
}

/*menu*/

#barre-rouge{
	position: fixed;
	background-color: red;
	text-align: left;
	width: 100%;
	height: 50px;
	left: 0px;
	top: 0px;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	display: flex;
}

.lien-menu{
	text-decoration: none;
	color: black;
}

.lien-menu:hover,
.lien-menu:focus{
	text-decoration: underline;
	background-color: rgba(255, 255, 255, 0.500);
}

.main-menu{
	background-color: red;
	text-align: center;
	width: 110px;
	height: 44px;
	top: 10px;
	left: 20px;
	transition-property: height, width, box-shadow;
	transition-duration: 1s;
	transition-delay: 50ms;
	border-style: groove;
	border-color: rgba(128, 72, 72, 0.568);
	box-shadow: none;
}
.main-menu h3{
	margin-top: 10px;
}

.main-menu:hover{
	height: 170px;
	width: 140px;
	box-shadow: 10px 5px 5px rgb(128, 7, 7);
}

#main-menu-list{
	height: 60%;
	width: 75%;
	text-align: left;
	list-style-type: none;
	padding: auto;
}

.menu-list{
	display: none;
	opacity: 0;
	height: 40px;
	width: auto;
	transition-property: display, opacity;
	transition-duration: 1s;
	transition-delay: 5s;
}

.main-menu:hover .menu-list{
	display: list-item;
	opacity: 1;
}

/*menu2*/

#menu{
	color: black;
}

.menu-liste{
	margin: auto;
	padding: auto;
	width: 50px;
	height: 30px;
}
#menu-liste-raquette{
	position: relative;
	margin: auto;
	padding: auto;
	width: 50px;
	height: 30px;
	left: 25%;
}







#centre{
	background-color: white;
	position: relative;
	top: 50px;
	margin: auto;
	padding: 10px;
	width: 60%;
	box-shadow: 10px 5px 5px #240346;
}
